<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}">
    <title>Doctor Appointment</title>
  </head>
  <body>
  	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/">DoctorAppointment</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">
							<i class="fa fa-user-plus" aria-hidden="true"></i>
							SignUp
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/doctor/register">
								<i class="fa fa-user-md" aria-hidden="true"></i>
								Doctor
							</a> 
							<a class="dropdown-item" href="/patient/register">
								<i class="fa fa-user" aria-hidden="true"></i>
								Patient
							</a>
						</div>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/">
							<i class="fa fa-sign-in" aria-hidden="true"></i>
							SignIn
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<main>
		<div class="container py-4">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1>Doctor Register</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 mx-auto">
					
		
					
					<form action="#" method="post" th:action="@{/doctor/RT}">
						<div class="mb-3">
							<label for="inputName" class="form-label">
								Name
							</label> 
							<input type="text" class="form-control" required="required"
								placeholder="Name" autocomplete="off"
								 th:name="name"	id="inputName">
						</div>
						<div class="mb-3">
							<label for="inputEmail" class="form-label">
								Email
							</label> 
							<input type="email" class="form-control" required="required"
								placeholder="UserName or Email" autocomplete="off"
								 th:name="email" id="inputEmail">
						</div>
						<div class="mb-3">
							<label for="inputPassword" class="form-label">Password</label>
							<input type="password" class="form-control"
								 autocomplete="off" required="required"
								  th:name="password" placeholder="Password" id="inputPassword">
						</div>
						<div class="mb-3">
							<label for="inputAge" class="form-label">Age</label>
							<input type="number" class="form-control"
								 autocomplete="off" required="required"
								  th:name="age" placeholder="Age">
						</div>
						<div class="mb-3">
							<label for="inputAddress" class="form-label">Address</label>
							<input type="text" class="form-control"
								 autocomplete="off" required="required"
								  th:name="address" placeholder="Address" id="inputAddress">
						</div>
						<button type="submit" class="btn btn-info offset-md-5" id="doctorRegister">Register</button>
					</form>
				</div>
			</div>
		</div>
	</main>
  

    <!-- Optional JavaScript; choose one of the two! -->
    <script src="js/script.js" th:src="@{/js/script.js}"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  </body>
</html>